:root{
    --brandeis:#003478;
}
body{
    font-family:arial;
}
h1{
    font-size:30px;
}
h2{
    font-size:20px;
}
nav{
    overflow:hidden;
    background-color:var(--brandeis);
    padding-left:30px;
}
nav a{
    float:left;
    display:block;
    color:var(--brandeis);
    background-color:white;
    text-align:center;
    padding:5px 15px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:5px;
    font-weight:bold;
    text-decoration:none;
    border-style:dashed;
    
}
/* Changing the background color for hovering over the nav buttons */
nav a:hover{
    opacity:0.7;
}
/* Setting properties for the footer */
footer{
    padding-left:50px;
    padding:60px;
    color:white;
    background-color:grey;
    font-size:20px;
    display:flex;
    align-items:center;
}
br{
    clear:both;
}
#brandeisLogoColumn{
    float:left;
    width:auto;
}
#brandeisLogo{
    width:200px;
    padding:20px;
}
#studentsAndAlumniAssociation{
    float:left;
    width:auto;
}
#footerInfo{
    float:left;
    width:80%;
}
#studentsAndAlumniOf{
    float:left;
    width:auto;
    font-size:20px;
}
#brandeisUniversityColumnHeader{
    float:left;
    width:auto;
}
#brandeisUniversityColumn{
    float:left;
    width:auto;
}
.social{
    float:left;
    color:white;
    background-color:white;
}
.fa{
    text-align:center;
    text-decoration:none;
    padding:10px;
    width:50px;
    font-size:30px;
}
.fa:hover{
    opacity:0.7;
}
.fa-facebook{
    color:white;
    background-color:#4267B2;
}
.fa-reddit{
    color:white;
    background-color:#FF5700;
}
.fa-youtube{
    color:white;
    background-color:#FF0000;
}
/* Making the box sizes uniform */
*{
    box-sizing:border-box;
}